# vim files
*.swp
*~

# LaTeX compiled files
*.aux
*.bbl
*.blg
*.dvi
*.ps
*.pdf
*.toc
*.nav
*.snm
*.vrb
*.out 

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ArduPilot compiled / parameter log files
*.bin
*.parm
*.tlog
*.raw
terrain/
