# General packages
matplotlib
NumPy
scipy

# Control panel
PyQtGraph
markdown
py-gfm

# Physical sensor/communication interfaces
pyserial>=3.0
RPi.GPIO
wiringpi
xbee
pylirc2
pyudev

# Vehicle trajectory mission interfaces
lxml
pexpect
pymavlink
mavproxy
dronekit

# Environment simulation
PyOpenGL
simpleparse
PyVRML97==2.3.0b1
PyDispatcher
pyglet

# Testing
mock
coverage
pylint
