[Unit]
Description=Mobile radio tomography

[Service]
Type=forking
User=root
ExecStart=/usr/bin/screen -dmS sensor /home/alarm/mobile-radio-tomography/raspberry-pi-start.sh
ExecStop=/usr/bin/screen -S sensor -X quit

[Install]
WantedBy=multi-user.target
